<!DOCTYPE html>
{% extends 'basic_app/base.html' %}
{% load static %}
{% block body_block %}
<title>Consolas Nintendo</title>
<div class="container">
  <!---BANNER-INICIO--------------------------------------------->
  <div id="banner_consolas_nintendo" class="p-5" background-size="full-width">
    <div class="container">
      <div class="jumbotron">
        <div class="row justify-content-md-left py-2">
          <h1><b>Consolas Nintendo</b></h1>
          <p>
            <b>Nintendo Switch</b> es toda una revolución, una vuelta de tuerta en la continua transición en la que la gran N concibe sus consolas. La senda iniciada por Wii y Wii U avanza hasta un nuevo nivel en el que el que la jugabilidad es el eje central de la innovación, el diseño y desarrollo de esta nueva videoconsola con una concepción entre lo tradicional y lo inédito para proporcionarnos cientos de juego no sólo ante la televisión, sino allá donde queramos.
            <br>
            <b>Nintendo Switch</b> es la primera consola híbrida con varios modos de juego que combinan la experiencia de una videoconsola tradicional con dos modos portátiles con los que divertirte solo o acompañado.
          </p>
        </div>
      </div>
    </div>
  </div>
  <!---BANNER-FIN---------------------------------------------->
</div>
{% endblock %}
