<!DOCTYPE html>
{% extends 'basic_app/base.html' %}
{% load static %}
{% block body_block %}
<title>Consolas PS</title>
<div class="container">
  <!---BANNER-INICIO--------------------------------------------->
  <div id="banner_consolas_nintendo" class="p-5" background-size="full-width">
    <div class="container">
      <div class="jumbotron">
        <div class="row justify-content-md-left py-2">
          <h1><b>Consolas PlayStation</b></h1>
          <p>
            Nada como la sensación de llegar a casa, ponerse bien cómod@, encender la televisión y pasar un buen rato acompañados de nuestra <b>PlayStation 4</b>. Para hacer tu experiencia todavía mejor, combínala con los mejores juegos para PS4. ¿Conoces la maravillosa vida de un/a jugador/a de PS4? ¿No? ¡Pues ya es hora de que adquieras una <b>PlayStation 4</b>!
            <br>
            En DJComponentes también podrás encontrar los mejores packs de <b>PlayStation 5</b> al mejor precio, con el juego que te gusta o con dos mandos, para jugar con amigos.
          </p>
        </div>
      </div>
    </div>
  </div>
  <!---BANNER-FIN---------------------------------------------->
</div>
{% endblock %}
