<!DOCTYPE html>
{% extends 'basic_app/base.html' %}
{% load static %}
{% block body_block %}
<title>Consolas XBOX</title>
<div class="container">
  <!---BANNER-INICIO--------------------------------------------->
  <div id="banner_consolas_nintendo" class="p-5" background-size="full-width">
    <div class="container">
      <div class="jumbotron">
        <div class="row justify-content-md-left py-2">
          <h1><b>Consolas XBOX</b></h1>
          <p>
            Consigue en DJComponentes tu <b>Xbox One</b>, <b>Xbox One S</b> o <b>Xbox One X</b> al mejor precio. Sóla, o con un pack de Consola Xbox + Juego y empieza a sacarle todo el partido a tu consola Microsoft.
          </p>
        </div>
      </div>
    </div>
  </div>
  <!---BANNER-FIN---------------------------------------------->
</div>
{% endblock %}
