<!DOCTYPE html>
{% extends 'basic_app/base.html' %}
{% load static %}
{% block body_block %}
<title>Impresoras tinta</title>
<div class="container">
  <!---BANNER-INICIO--------------------------------------------->
  <div id="banner_impresoras_tinta" class="p-5" background-size="full-width">
    <div class="container">
      <div class="jumbotron">
        <div class="row justify-content-md-left py-2">
          <h1><b>Impresoras de inyección de tinta</b></h1>
          <p>Encuentra la mejor impresora de tinta para llevar a cabo tus
            proyectos cotidianos. Optimiza sus funcionalidades y saca
            impresiones de excelente calidad a un precio muy reducido. Puedes
            elegir entre las diferentes marcas para que la eficiencia y la
            elegancia no te falten nunca. Prueba sus diversas formas de
            conectividad: bluetooth, con cable, NFC, WI-FI y mucho más. Sus
            modos de uso son muy prácticos y sencillos.
          </p>
        </div>
      </div>
    </div>
  </div>
  <!---BANNER-FIN---------------------------------------------->
</div>
{% endblock %}
