<!DOCTYPE html>
{% extends 'basic_app/base.html' %}
{% load static %}
{% block body_block %}
<title>Impresoras láser</title>
<div class="container">
  <!---BANNER-INICIO--------------------------------------------->
  <div id="banner_impresoras_laser" class="p-5" background-size="full-width">
    <div class="container">
      <div class="jumbotron">
        <div class="row justify-content-md-left py-2">
          <h1><b>Impresoras láser</b></h1>
          <p>Las impresoras láser no derrochan tinta, usan tinta en polvo y
            pulverizan la superficie de papel, logrando un acabado nítido y
            brillante. Esto logra que la impresión salga prácticamente seca y
            se evitan borrones no deseados. Este tipo de impresoras no usan
            cartuchos, sino tóners. Una impresora láser es siempre una buena
            opción cuando se suele imprimir asiduamente, ya que el precio por
            copia impresa suele ser muy inferior al de las impresoras de
            inyección de tinta. Hazte con tu impresora láser o multifunción.
          </p>
        </div>
      </div>
    </div>
  </div>
  <!---BANNER-FIN---------------------------------------------->
</div>
{% endblock %}
