<!DOCTYPE html>
{% extends 'basic_app/base.html' %}
{% load static %}
{% block body_block %}
<title>PC Sobremesa</title>
<div class="container">
  <!---BANNER-INICIO--------------------------------------------->
  <div id="banner_ordenadores_sobremesa" class="p-5" background-size="full-width">
    <div class="container">
      <div class="jumbotron">
        <div class="row justify-content-md-left py-2">
          <h1><b>Ordenadores PC Sobremesa</b></h1>
          <p>El equipo que mereces está aquí. Una selección con los mejores ordenadores de sobremesa que puedes encontrar en el mercado. Los tienes todos en DJComponentes. Los mejores componentes: Tarjetas gráficas, procesadores, memorias ram... El pc de tus sueños está aquí, no esperes más y elige el tuyo.</p>
        </div>
      </div>
    </div>
  </div>
  <!---BANNER-FIN---------------------------------------------->
</div>
{% endblock %}
