<!DOCTYPE html>
{% extends 'basic_app/base.html' %}
{% load static %}
{% block body_block %}
<title>Teclados</title>
<div class="container">
  <!---BANNER-INICIO--------------------------------------------->
  <div id="banner_perifericos_teclados" class="p-5" background-size="full-width">
    <div class="container">
      <div class="jumbotron">
        <div class="row justify-content-md-left py-2">
          <h1><b>Periféricos - Teclados</b></h1>
          <p>Los teclados al mejor precio y para todo tipo de usuario los encontrarás en esta selección que te presentamos. Disfruta de tus videojuegos favoritos con un teclado mecánico o convierte tu oficina en un lugar sofisticado apostando por el teclado inalámbrico que mejor se adapte a tu estilo.</p>
        </div>
      </div>
    </div>
  </div>
  <!---BANNER-FIN---------------------------------------------->
</div>
{% endblock %}
