<!DOCTYPE html>
{% extends 'basic_app/base.html' %}
{% load static %}
{% block body_block %}
<title>Ratones</title>
<div class="container">
  <!---BANNER-INICIO--------------------------------------------->
  <div id="banner_perifericos_ratones" class="p-5" background-size="full-width">
    <div class="container">
      <div class="jumbotron">
        <div class="row justify-content-md-left py-2">
          <h1><b>Periféricos - Ratones</b></h1>
          <p>Disfruta del mayor catálogo de ratones en una tienda de informática. En DJComponentes trabajamos con un gran número de marcas para ofrecerte una amplia selección de ratones en todas sus variantes: gaming, inalámbricos, ópticos, gaming sin cable, etc. para que encuentres justo el que estás buscando. Ya lo quieras para la oficina o para jugar, seguro que encontrarás el ratón que se adapta a todas tus necesidades por un precio increíble.</p>
        </div>
      </div>
    </div>
  </div>
  <!---BANNER-FIN---------------------------------------------->
</div>
{% endblock %}
