<!DOCTYPE html>
{% extends 'basic_app/base.html' %}
{% load static %}
{% block body_block %}
<title>Videojuegos PC</title>
<div class="container">
  <!---BANNER-INICIO--------------------------------------------->
  <div id="banner_videojuegos_ordenador" class="p-5" background-size="full-width">
    <div class="container">
      <div class="jumbotron">
        <div class="row justify-content-md-left py-2">
          <h1><b>Videojuegos - PC</b></h1>
          <p>La mejor selección de juegos de PC de todos los géneros la encontrarás aquí, en nuestra sección de juegos para ordenador. Pueden gustarte los juegos multijugador o los juegos de estrategia, pero lo que además querrás es comprar videojuegos baratos, este es tu sitio.</p>
        </div>
      </div>
    </div>
  </div>
  <!---BANNER-FIN---------------------------------------------->
</div>
{% endblock %}
