<!DOCTYPE html>
{% extends 'basic_app/base.html' %}
{% load static %}
{% block body_block %}
<title>Videojuegos XBOX</title>
<div class="container">
  <!---BANNER-INICIO--------------------------------------------->
  <div id="banner_videojuegos_xbox" class="p-5" background-size="full-width">
    <div class="container">
      <div class="jumbotron">
        <div class="row justify-content-md-left py-2">
          <h1><b>Videojuegos - XBOX</b></h1>
          <p>¡Disfruta de nuestra colección de videojuegos para XBOX ya mismo!</p>
        </div>
      </div>
    </div>
  </div>
  <!---BANNER-FIN---------------------------------------------->
</div>
{% endblock %}
