<!DOCTYPE html>
{% extends 'basic_app/base.html' %}
{% load static %}
{% block body_block %}
<title>Videojuegos PS</title>
<div class="container">
  <!---BANNER-INICIO--------------------------------------------->
  <div id="banner_videojuegos_playstation" class="p-5" background-size="full-width">
    <div class="container">
      <div class="jumbotron">
        <div class="row justify-content-md-left py-2">
          <h1><b>Videojuegos - PlayStation</b></h1>
          <p>Las últimas novedades de PS4 y PS5, así como juegos clásicos de la consola de SONY a un precio increíble. Disfruta de una gran variedad de títulos y ediciones coleccionista de los últimos lanzamientos y mejores juegos de PlayStation.</p>
        </div>
      </div>
    </div>
  </div>
  <!---BANNER-FIN---------------------------------------------->
</div>
{% endblock %}
