.home-intro {
  width: 100%;
  background-color: #ffffff;
}

.home-intro .jumbotron {
  padding: 100px 60px;
  margin 0px;
  background-image: url("../images/fondo_banner.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.home-intro .jumbotron h1{
  font-size: 50px;
  color: rgb(0, 0, 0);
  font-family: "Segoe UI";
}

.home-intro .jumbotron h4{
  font-size: 30px;
  color: #ffffff;
  font-family: "Segoe UI sans-serif";
}
